.post{
	padding: 30px;
	padding-left: 110px;
	border: 2px solid $colour-border;
	border-top: none;
	position: relative;
}
.post__profile-image{
	position: absolute;
	display: block;
	width: 60px;
	height: 60px;
	background: $colour-border;
	border-radius: 50%;
	top: 30px;
	left: 30px;
	background-size: cover!important;
	background-position: center!important;
	background-repeat: no-repeat!important;
}
.post__meta{
	display: block;
	position: relative;
	font-size: 0;
	line-height: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
	li{
		display: inline-block;
		position: relative;
		font-size: 12px;
		line-height: 12px;
		margin: 0;
		padding: 0;
		margin-right: 10px;
		a{
			display: block;
			font-size: 16px;
			line-height: 16px;
			font-weight: 700;
			color: inherit!important;
		}
	}
}
.post__content{
	p{
		font-size: 16px;
		line-height: 1.3em;
	}
}
.post__content--large-text{
	p{
		font-size: 26px;
	}
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	iframe, object, embed{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
