@media (prefers-color-scheme: dark) {
	body{
		background: #141414;
		color: white;
		.main-nav{
			background: #141414;
			border-color: $colour-border-dark;
		}
		.main-nav__logo--light{
			display: block;
		}
		.main-nav__logo--dark{
			display: none;
		}
		.main-nav__menu__home{
			&::after{
				background-image: url(/assets/home-outline-light.svg);
			}
			&.active::after{
				background-image: url(/assets/home-filled-light.svg);
			}
		}
		.main-nav__menu__profile{
			&::after{
				background-image: url(/assets/profile-outline-light.svg);
			}
			&.active::after{
				background-image: url(/assets/profile-filled.svg);
			}
		}
		.main-nav__menu__messages{
			&::after{
				background-image: url(/assets/messages-outline-light.svg);
			}
			&.active::after{
				background-image: url(/assets/messages-filled.svg);
			}
		}
		.main-nav__menu__notifications{
			&::after{
				background-image: url(/assets/notifications-outline-light.svg);
			}
			&.active::after{
				background-image: url(/assets/notifications-filled.svg);
			}
		}
		.main-nav__menu__search{
			&::after{
				background-image: url(/assets/search-outline-light.svg);
			}
			&.active::after{
				background-image: url(/assets/search-filled-light.svg);
			}
		}
		.main-nav__menu__settings{
			&::after{
				background-image: url(/assets/settings-outline-light.svg);
			}
			&.active::after{
				background-image: url(/assets/settings-filled-light.svg);
			}
		}
		.post{
			border-color: $colour-border-dark;
		}
	}
}
