.main-nav{
	border-bottom: 2px solid $colour-border;
	background: white;
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
}
.main-nav__container{
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	max-width: 1140px;
}

.main-nav__logo{
	display: block;
	height: 80px;
	padding: 25px 25px;
	img{
		display: block;
		height: 100%;
	}
}
.main-nav__logo--light{
	display: none;
}

.main-nav__menu{
	display: block;
	position: relative;
	font-size: 0;
	line-height: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	li{
		display: inline-block;
		position: relative;
		font-size: 0;
		line-height: 0;
		margin: 0;
		padding: 0;
		a{
			display: block;
			height: 60px;
			position: relative;
			text-decoration: none!important;
			&::after{
				content: '';
				display: block;
				height: 30px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				z-index: 1;
				background-size: 100% 100%;
				background-repeat: no-repeat;
			}
			&::before{
				content: '';
				display: block;
				position: absolute;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				top: calc(50% - 25px);
				left: calc(50% - 25px);
				transform: scale(0.5);
				opacity: 0;
				transition-duration: 0.15s;
			}
			&.active::before{
				transform: scale(1);
				opacity: 0.1;
			}
			&:hover::before{
				transform: scale(1);
				opacity: 0.2;
			}

			span{
				display: block;
				position: absolute;
				top: 5px;
				right: 5px;
				background: $colour-red;
				font-size: 12px;
				line-height: 12px;
				padding: 3px;
				color: white;
				z-index: 2;
				min-width: 18px;
				text-align: center;
				font-weight: 700;
			}
		}
	}
}
.main-nav__menu--primary{
	margin-left: -15px;
}
.main-nav__menu--secondary{
	margin-right: -15px;
	text-align: right;
}

.main-nav__menu__home{
	width: calc(32px + 30px);
	&::after{
		width: 32px;
		background-image: url(/assets/home-outline-dark.svg);
	}
	&::before{
		background: $colour-yellow;
	}
	&.active::after{
		background-image: url(/assets/home-filled-dark.svg);
	}
}
.main-nav__menu__profile{
	width: calc(28px + 30px);
	&::after{
		width: 28px;
		background-image: url(/assets/profile-outline-dark.svg);
	}
	&::before{
		background: $colour-orange;
	}
	&.active::after{
		background-image: url(/assets/profile-filled.svg);
	}
}
.main-nav__menu__messages{
	width: calc(30px + 30px);
	&::after{
		width: 30px;
		background-image: url(/assets/messages-outline-dark.svg);
	}
	&::before{
		background: $colour-green;
	}
	&.active::after{
		background-image: url(/assets/messages-filled.svg);
	}
}
.main-nav__menu__notifications{
	width: calc(26px + 30px);
	&::after{
		width: 26px;
		background-image: url(/assets/notifications-outline-dark.svg);
	}
	&::before{
		background: $colour-yellow;
	}
	&.active::after{
		background-image: url(/assets/notifications-filled.svg);
	}
}
.main-nav__menu__search{
	width: calc(30px + 30px);
	&::after{
		width: 30px;
		background-image: url(/assets/search-outline-dark.svg);
	}
	&::before{
		background: $colour-blue;
	}
	&.active::after{
		background-image: url(/assets/search-filled-dark.svg);
	}
}
.main-nav__menu__settings{
	width: calc(30px + 30px);
	&::after{
		width: 30px;
		background-image: url(/assets/settings-outline-dark.svg);
	}
	&::before{
		background: #838383;
	}
	&.active::after{
		background-image: url(/assets/settings-filled-dark.svg);
	}
}
