.structure{
	display: grid;
	align-items: center;
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	padding-top: 80px;
    margin-right: auto;
    margin-left: auto;
	max-width: 1140px;
}
.structure__column{
	width: 100%;
	min-width: 0;
	position: relative;
	display: block;
}
.structure--home{
	grid-template-columns: 6fr 3fr;
	grid-column-gap: 30px;
}
