$colour-yellow: #FFC843;
$colour-orange: #FF6B00;
$colour-red: #DA2D2F;
$colour-pink: #DA3AB3;
$colour-blue: #00B3E3;
$colour-green: #05CE7C;

$colour-border: #F0F0F0;
$colour-border-dark: #262626;

@import 'reboot';

@import 'typography';
@import 'structure';
@import 'components';
@import 'controls';
@import 'navigation';

@import 'darkmode';
